.wrapper {
  display: flex;
  padding: 60px 20px;

  border: 2px solid rgba(211, 211, 211, 0.7); /* Light gray border */
      border-radius: 15px; /* Rounded corners */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Light shadow */
                  0 6px 20px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow */
      transition: all 0.3s ease-in-out;
}

.item .label{
  font-size: 24px;
  margin-bottom: 10px;
}

.twoItem {
  margin-top: 20px;
}

.left .textareaBox {
  width: 500px;
  height: 120px;
}

.selectBox {
  width: 500px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  
}
.submit .buttonBox {
  width: 280px;
  font-size: 19px;
}

.left {
  margin-right: 20px;
  height: 380px;
}

.right {
  width: 500px;
  height: 380px;
}

.right .textareaBox {
  width: 500px;
  height: 100%;
  font-size: 18px;
}